---
import Layout from "@layouts/Base.astro";
import { getCollection } from "astro:content";
import { Puff } from "astro-svg-loaders";
import type { CollectionEntry } from "astro:content";

const notes = await getCollection("notes");

const latest = notes.sort(
	(a: CollectionEntry<"notes">, b: CollectionEntry<"notes">) =>
		a.id > b.id ? -1 : 1,
)[0];
---

<Layout>
	<main data-latest={latest.id}>
		<Puff />
	</main>
</Layout>
<script>
	document.addEventListener('DOMContentLoaded', () => {
		const latest = (document.querySelector("[data-latest]") as HTMLElement)
			?.dataset.latest;

		window.location.href = `/${latest}`;
	});
</script>
