---
import { findContrastColor } from "color-contrast-finder";

export interface Props {
    unsplashUrl: string;
    unsplashColor: string;
}

const { unsplashUrl, unsplashColor } = Astro.props;

const contrastColor = findContrastColor({
    color: unsplashColor,
    highColor: "black",
    lowColor: "white",
});
---

<div
    class="background"
    style={`--unsplash-url: url(${unsplashUrl}); --unsplash-color: ${unsplashColor}; --unsplash-contrast-color: ${contrastColor};`}
>
    <slot />
</div>

<style>
    .background {
        height: 100%;
        min-height: 100vh;
        min-height: 100svh;
        color: var(--unsplash-contrast-color);
        --contrast-color: var(--unsplash-contrast-color);
        text-shadow:
            0 0 20px var(--unsplash-color),
            0 0 10px var(--unsplash-color),
            0 0 5px var(--unsplash-color),
            0 0 2px var(--unsplash-color);
        background:
            var(--unsplash-url) center center / cover no-repeat,
            var(--unsplash-color);
        background-attachment: fixed;
    }
</style>
