---
import "@fontsource-variable/newsreader";
import "@fontsource-variable/piazzolla";
import "@styles/base.scss";
import "@styles/layouts.scss";
import "@styles/theme.scss";
import "@styles/utilities.scss";
import "modern-normalize/modern-normalize.css";

export interface Props {
	unsplashColor: string;
}

const { unsplashColor } = Astro.props;
---

<!doctype html>
<html lang="en" style={`--unsplash-color: ${unsplashColor};`}>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link
			rel="apple-touch-icon"
			sizes="180x180"
			href="/apple-touch-icon.png"
		/>
		<link
			rel="icon"
			type="image/png"
			sizes="32x32"
			href="/favicon-32x32.png"
		/>
		<link
			rel="icon"
			type="image/png"
			sizes="16x16"
			href="/favicon-16x16.png"
		/>
		<link rel="manifest" href="/site.webmanifest" />
		<meta name="generator" content={Astro.generator} />
		<title>Daily Notes</title>
	</head>
	<body>
		<slot />
	</body>
</html>

<script>
	import logCommitHash from "@utils/logCommitHash";
	// This makes it easy to see which version of the site is being served
	logCommitHash();
</script>

<style>
	html, body {
		z-index: -1;
		background-color: var(--unsplash-color);
	}
</style>